h1{
	font-size: 2em;
	border-left: 7px double green;
	border-bottom: 5px solid green;
	padding-top: 3px;
	padding-left: 5px;
	padding-bottom: 3px;
	color: black;
}

h2{
	font-size: 1.5em;
	color: green;
}

body{
	width:80%;
	margin:auto;
	padding-bottom: 20px;
	font-size:1em;
	background-color: #fffff0;
	color: #3A423;
}

table{
	box-shadow: 3px 3px 12px 3px teal;
}

table th {
        padding: 10px;
	color: green;
	background: white;
}

table td {
        padding: 7px 10px;
}


caption{
	font-size:1.2em;
	margin-bottom: 0.5em;
	font-weight:600;
}

td{
	padding:5px;
	vertical-align:top;
}

a:link{
	color:#0033AA;
	text-decoration:none;
}

a:hover{
	color:#000000;
	background:#AAFFAA;
}

a:visited{
	color:#AA3300;
	text-decoration:none;
}

.items{
	line-height:1.6em; 
}

#author{
	text-align:right;
}

#intro{
	font-size: 1.2em;
        font-weight:800;
}

#intro2{
	font-size: 1.2em;
        font-weight:600;
}

